@charset "UTF-8";

@font-face {
    font-family: "Agrandir";
    src: url(/Fontes/Agrandir-Regular.otf) format('opentype');
}

@font-face {
    font-family: "geosans" ;
    src: url(/Fontes/GeosansLight-Oblique.ttf) format('truetype');
}

@font-face {
    font-family: "milestone" ;
    src: url(/Fontes/Milestone.otf) format('opentype');
}

@font-face {
    font-family: "proxima" ;
    src: url(/Fontes/proxima-nova.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgba(19, 26, 19, 0.981);

}

nav {
    font-size: 1.2em;
}

header a {
    color: white;
    text-decoration: none;
    margin: 50px;
    transition: 0.5s;
    font-family: "geosans";
}

header a:hover {
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 10px;
    padding: 10px 
}

 img {
    height: 800px;
    width: 100%;
}

/* APRESENTAÇÃO */
.apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

.apresentacao > .textos {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    margin: 40px;
    width: 500px;
    height: 550px;
}

/* CSS dos textos */
.textos h1 {
    font-family: "milestone";
    font-size: 3.6em;
    color: rgb(35, 61, 35);
    line-height: 50px;

}

h2 {
    font-family: "Agrandir";
    font-weight: lighter;
    font-size: 2em;
    color: rgb(48, 84, 48);
}

h3 {
    font-family: "geosans";
    font-size: 1.5em;
    font-weight: lighter;
    margin-top: 10px;
}

.textos p {
    font-family: "proxima";
    font-weight: 100;
    font-size: 1.2em;
    text-align: end;
    margin-top: 30px;
}

.textos > a {
    text-decoration: none;
}


.botao {
    margin: 30px;
    font-size: 1.6em;
    background-color: rgb(51, 72, 51);
    padding: 7px 20px ;
    border-radius: 30px;
    color: white;

}

/* FOTO DO ARTHUR */

.apresentacao >.foto {
    height: 600px;
    width: 400px;
    background-image: url(./fotos/foto-arthur.png);
    background-size: cover;
}

/* SERVIÇOS OFERTADOS */
.servicos {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 750px;
    background-image: url(./Fundos/fundo-servicos.jpg);
    background-size: cover;
}

.texto-central {
width: 600px;
}

.texto-central h1 {
    color: white;
    font-size: 4em;
    text-align: center;
    font-family: "milestone";
    line-height: 60px;
}


.baloes {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    width: 80%;
    margin-top: 40px;
}

.balao1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 450px;
    height: 200px;
    background-color: rgba(12, 23, 12, 0.875);
    font-family: "Agrandir";
    border-radius: 30px;
    color: white;
}

.balao1 img {
    height: 100px;
    width: 100px;
}

.balao2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 450px;
    height: 200px;
    background-color: rgba(12, 23, 12, 0.875);
    font-family: "Agrandir";
    border-radius: 30px;
    color: white;
}

.balao2 img {
    height: 100px;
    width: 100px;
}

.balao3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 450px;
    height: 200px;
    background-color: rgba(12, 23, 12, 0.875);
    font-family: "Agrandir";
    border-radius: 30px;
    color: white;
}

.balao3 img {
    height: 100px;
    width: 100px;
}

.balao4 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 450px;
    height: 200px;
    background-color: rgba(12, 23, 12, 0.875);
    font-family: "Agrandir";
    font-size: 0.9em;
    border-radius: 30px;
    color: white;
}

.balao4 img {
    height: 100px;
    width: 100px;
}

.feedbacks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 400px;
    background-image: url(./Fundos/fundo-feedbacks.png);
    background-size: cover;
}

.feedbacks .teste {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
.feedbacks .caixa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 150px;
    margin-right: 200px;
}

.teste .texto-feedbacks {
    width: 35%;
    text-align: center;
    margin-right:200px ;
}

.caixa .depoimentos {
    position: relative;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.depoimentos p {
    font-family: "proxima";
    text-align: center;
    font-size: 1.2em;
}

.anonimo {
    width: 35%;
    margin-right: 200px;
    font-family: "geosans";
    text-align: end;
}


/* FUNÇÃO CARROSSEL*/
.slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
}

.on {
    opacity: 1;
}

#voltar, #avancar {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#voltar img, #avancar img {
    width: 100%;
    height: 100%;
}

.banners {
    background-color: rgb(253, 248, 243);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
}

.banners img {
    width: 200px;
    height: 50px;
}

.contato {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
    background-image: url(./Fundos/fundo-contatos.jpg);
    background-size: cover;
}

.contato .redes {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 450px;
}

.redes img {
    width: 325px;
    height: 65px;
    margin: 10px;
}

.redes .Logo {
    width: 200px;
    height: 100px;
}

.contato .mapa {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.mapa img {
    width: 400px;
    height: 400px;
    margin-bottom: 10px;
}

.mapa p {
    color: white;
    text-align: center;
    font-family: "geosans";
    font-size: 1.2em;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgb(19, 26, 19);
}

footer p {
    font-family: "geosans";
    color: white;
}

@media screen and (min-width: 350px) and (max-width: 500px) {
    header {
        height: 40px;
        background-color: rgba(19, 26, 19, 0.901);

    }
    nav a {
        font-size: 0.6em;
    }

    header a {
        margin: 20px;
    }

    img {
        height: 270px;
    }
    
    /* APRESENTAÇÃO */
    .apresentacao {
        height: 550px;
    }
    
    .apresentacao > .textos {
        align-items: center;
        margin: 10px;
        width: 300px;
        height: 400px;
    }
    
    /* CSS dos textos */
    .textos h1 {
        font-size: 1.2em;
        line-height: 22px;
    }
    
    h2 {
        display: none;
        font-size: 1.3em;
    }
    
    h3 {
        font-size: 0.9em;
    }
    
    .textos p {
        font-size: 0.8em;
        text-align: center;
        margin-top: 10px;
    }
        
    .botao {
        font-size: 0.6em;
    }
    
    /* FOTO DO ARTHUR */
    
    .apresentacao >.foto {
        height: 500px;
        width: 350px;
    }
    
    /* SERVIÇOS OFERTADOS */
    .servicos {
        height: 650px;
    }
    
    .texto-central {
    width: 300px;
    }
    
    .texto-central h1 {
        font-size: 2.2em;
        line-height: 35px;
    }
    
    
    .baloes {
        height: 500px;
        width: 95%;
        margin-top: 20px;
    }
    
    .balao1 {
        flex-flow: column-reverse;
        width: 180px;
        height: 180px;
        font-size: 0.6em;
        text-align: center;
    }
    
    .balao1 img {
        height: 40px;
        width: 40px;
    }
    
    .balao2 {
        flex-flow: column-reverse;
        width: 180px;
        height: 180px;
        font-size: 0.6em;
        text-align: center;
    }
    
    .balao2 img {
        height: 40px;
        width: 40px;
    }
    
    .balao3 {
        flex-flow: column;
        width: 180px;
        height: 180px;
        font-size: 0.6em;
        text-align: center;
    }
    
    .balao3 img {
        height: 40px;
        width: 40px;
    }
    
    .balao4 {
        flex-flow: column;
        width: 180px;
        height: 180px;
        font-size: 0.55em;
        text-align: center;
    }
    
    .balao4 img {
        height: 40px;
        width: 40px;
    }

    /* ABA DOS FEEDBACKS*/
    
    .feedbacks {
        height: 130px;
    }
    
    .feedbacks .caixa {
        width: 60%;
        height: 50px;
        margin-right: 20px;
    }

    .caixa .depoimentos {
        margin: 5px;
    }
    
    .depoimentos p {
        font-size: 6px;
    }
    
    .anonimo {
        width: 60%;
        margin-top: 5px;
        margin-right: 20px;
        font-size: 3px;
        
    }
    
    #voltar, #avancar {
        width: 10px;
        height: 10px;
    }
    
    /* INFOS */
    
    .banners {
        height: 50px;
    }
    
    .banners img {
        width: 80px;
        height: 20px;
    }

    /* ABA DE CONTATOS */
    
    .contato {
        height: 300px;
    }
    
    .contato .redes {
        height: 180px;
    }
    
    .redes img {
        width: 100px;
        height: 20px;
        margin: 4px;
    }
    
    .redes .Logo {
        width: 80px;
        height: 40px;
    }
      
    .mapa img {
        width: 150px;
        height: 150px;
    }
    
    .mapa p {
        font-size: 0.7em;
    }
    
    footer {
        height: 20px;
    }
    
    footer p {
        font-size: 0.7em;
    }
}